<script>
N=prompt("Enter the value")

function printSpace( howMany ) {
    for(i=1;i<=howMany; i++)
        document.write("&nbsp;");
}   //end of printSpace()
function printStars( howMany ) {
    for(i=1;i<=howMany; i++)
        document.write("*");
}
    //end of printStar()
function drawUpperPart(valueOfN){

    var maxlength = valueOfN *2;

    for(line=1;line<=valueOfN;line++){

         printStars(line);
        printSpace(maxlength-(line*2));
        printStars(line);
        document.write("<br>");
}
}
//end of UpperPart
function drawLowerPart(valueOfN){

    var maxlength = valueOfN *2;

    for(line=1;line<=valueOfN;line++){

        var x = valueOfN-line;
        printStars(x);
        printSpace(maxlength-(x*2));
        printStars(x);
        document.write("<br>");
    }
}
      //end of drawLowerPart()
        function drawButterfly(valueOfN) {
            drawUpperPart(valueOfN);
            drawLowerPart(valueOfN);

        }   //end of drawButterfly()



document.write("<pre>");
    drawButterfly(N);
document.write("</pre>");
    </script>
