<script>
    for ( i=1, j=20 ; i<j ; i++, j--)  {
        document.write("hello "+i+ " world " +j+ "<br>");
    }

    for ( i=1; i<=4; i++) {
        for ( j=1; j<=i  ; j++) {
            document.write("*");
        }

        document.write("<br>");
    }
    for ( i=1; i<=4; i++) {
        for ( j=4; j>=i  ; j--) {
            document.write("*");
        }

        document.write("<br>");
    }
  function printSpace( howMany ) {
      for(i=1;i<=howMany; i++)
      document.write("&nbsp;");
  }
    function printStars( howMany ) {
        for(i=1;i<=howMany; i++)
            document.write("*");
    }

    document.write("<pre>");
    for( line=1;line<=10;line++){
        printSpace(10-line);
        printStars(line);
        document.write("<br>")
    }

    function printSpace( howMany ) {
        for(i=1;i<=howMany; i++)
            document.write("&nbsp;");
    }
    function printStars( howMany ) {
        for(i=1;i<=howMany; i++)
            document.write("*");
    }

    for( line=1;line<=10;line++){
        printSpace(line-1);
        printStars(10-line+1);
        document.write("<br>")
    }
    document.write("</pre>");
</script>